body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  body .logo {
    margin-left: auto;
    margin-right: auto; }
  body .logo img {
    height: 25%;
    width: 25%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative; }
  body body {
    font-family: "arial"; }
  body .specialty {
    background: #F15A29;
    border: 1px;
    height: 125px;
    width: 100%;
    margin-top: 100px; }
  body .specialty img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50%;
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px; }
  body .specialtyText h3 {
    font-family: "arial";
    font-size: 14px;
    color: #3c4043;
    margin-top: 30px;
    position: absolute;
    transition: opacity .1s ease;
    margin: 0 auto;
    text-align: center;
    width: 100%; }
  body .specialtyText h3 + h3 {
    opacity: 0;
    margin: 0 auto;
    text-align: center; }
  body .description {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: -80px; }
  body .mainNav {
    position: absolute;
    margin-top: -65px;
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
    transform: translateX(0%);
    transition: transform 0.5s ease-in; }
  body .mainNav li {
    opacity: 0;
    text-align: center;
    display: inline;
    border-top: 1px #3c4043; }
  body .mainNav ul {
    margin-top: -1px;
    padding: 0px; }
  body .mainNav ul li {
    display: block;
    cursor: pointer;
    padding-top: -10px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%; }
  body .mainNav ul li a {
    text-decoration: none;
    color: black;
    margin-top: 5px; }
  body .burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    padding: 0; }
  body .burger {
    cursor: pointer;
    margin: 1px; }
  body .mainNav-active {
    background-color: rgba(222, 222, 222, 0.7);
    font-family: arial;
    opacity: 1;
    color: black;
    border: 1px solid;
    border-color: black;
    width: 99.5%;
    font-size: 16px;
    height: 200px; }
@keyframes mainNavFade {
  from {
    opacity: 0;
    transform: translateX(-50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
  body .hero img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 600px;
    margin-top: -85px; }
  body .description h2 {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-family: "arial";
    height: auto;
    width: 100%;
    margin-top: -200px;
    padding-bottom: 10px;
    padding-top: 10px; }

@media only screen and (min-width: 768px) {
  body {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: "arial"; }
    body .logo {
      margin-left: auto;
      margin-right: auto; }
    body .logo img {
      height: 30%;
      width: 30%;
      margin-top: -50px;
      margin-left: 1px;
      display: block;
      position: relative; }
    body .specialty {
      background: #F15A29;
      border: 1px;
      height: 200px;
      margin-right: auto;
      display: auto;
      margin-top: 50px; }
    body .description {
      color: #ffffff;
      background-color: #3c4043;
      font-size: 14px;
      text-align: center; }
    body .mainNav {
      height: 1px;
      margin-top: -100px;
      margin-left: 150px;
      margin-right: auto;
      display: block;
      text-align: center; }
    body .mainNav li {
      opacity: 1;
      display: block;
      text-align: center; }
    body .mainNav li {
      opacity: 1;
      display: block;
      text-align: center; }
    body .mainNav ul {
      padding: 0px;
      margin: 0px; }
    body .mainNav ul li {
      font-size: 17px;
      display: inline;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      border: 0px; }
    body .mainNav ul li a {
      color: #F15A29;
      padding: 20px;
      text-decoration: none; }
    body .mainNav-active {
      display: none; }
    body .hero img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      height: 700px; }
    body .description {
      margin-top: -5px; }
    body .description h2 {
      text-align: center;
      color: #ffffff;
      font-size: 17px;
      font-family: "arial";
      height: auto;
      width: 100%;
      margin-top: -200px;
      padding-bottom: 10px;
      padding-top: 10px; }
    body .hero img {
      margin-top: -200px; }
    body .burger div {
      display: none; }
    body .instagram img {
      width: 15%;
      height: 15%;
      float: left;
      margin-left: 200px; }
    body .linkedin img {
      width: 12%;
      height: 12%;
      float: right;
      margin-right: 200px;
      margin-top: -1px; }
    body #web img {
      padding-top: 20px;
      height: 9%;
      width: 9%;
      margin-left: 150px;
      margin-right: auto;
      display: block; }
    body .marketing img {
      margin-top: -50px;
      height: 9%;
      width: 9%;
      margin-left: 250px;
      margin-right: auto;
      display: block; }
    body .photography img {
      margin-top: -50px;
      height: 9%;
      width: 9%;
      margin-left: 350px;
      margin-right: auto;
      display: block; }
    body .video img {
      margin-top: -60px;
      height: 9%;
      width: 9%;
      margin-left: 450px;
      margin-right: auto;
      display: block; }
    body .audio img {
      margin-top: -60px;
      height: 9%;
      width: 9%;
      margin-left: 550px;
      margin-right: auto;
      display: block; }
    body .socialMedia {
      margin-top: 10px;
      height: 100px;
      width: 100%; }
    body .instagram img {
      width: 15%;
      height: 15%;
      float: left;
      margin-left: 250px; }
    body .linkedin img {
      width: 12%;
      height: 12%;
      float: right;
      margin-right: 250px; } }

/*# sourceMappingURL=style.css.map */
