@media only screen and (min-width: 375px) {
  body {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    body .logo {
      margin-left: auto;
      margin-right: auto; }
    body .logo img {
      height: 25%;
      width: 25%;
      margin-top: -20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative; }
    body body {
      font-family: "arial"; }
    body .specialty {
      background: #F15A29;
      border: 1px;
      height: 100%;
      width: 100%; }
    body .description {
      color: #ffffff;
      background-color: #3c4043;
      font-size: 12px;
      text-align: center; }
    body .mainNav {
      position: absolute;
      margin-top: -70px;
      flex-direction: column-reverse;
      text-align: center;
      display: flex;
      transform: translateX(0%);
      transition: transform 0.5s ease-in; }
    body .mainNav li {
      opacity: 0;
      text-align: center; }
    body .mainNav ul {
      margin-top: -1px; }
    body .mainNav ul li {
      display: block;
      cursor: pointer;
      padding-top: 20px;
      margin-top: -5px; }
    body .mainNav ul li a {
      text-decoration: none;
      padding-right: 10px;
      padding-left: 10px;
      color: black;
      margin-right: 30px; }
    body .burger div {
      width: 25px;
      height: 2px;
      background-color: black;
      margin: 5px;
      padding: 0; }
    body .burger {
      cursor: pointer; }
    body .mainNav-active {
      background-color: rgba(222, 222, 222, 0.5);
      font-family: arial;
      opacity: 1;
      color: black;
      border: 1px solid;
      border-color: black; }
  @keyframes mainNavFade {
    from {
      opacity: 0;
      transform: translateX(-50px); }
    to {
      opacity: 1;
      transform: translateX(0px); } }
    body .hero img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      height: 500px;
      margin-top: -85px; }
    body .description h2 {
      text-align: center;
      color: #ffffff;
      font-size: 14px;
      font-family: "arial";
      height: auto;
      width: 375px;
      margin-top: -5px;
      padding-bottom: 5px;
      padding-top: 10px; }
    body .specialty {
      margin-top: -15px; }
    body .specialty p {
      text-align: center;
      color: #ffffff;
      font-size: 14px;
      font-family: "arial";
      padding-bottom: 10px;
      padding-top: 5px; }
    body .web img {
      padding-top: 5px;
      height: 12%;
      width: 12%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    body .web p {
      text-align: center;
      margin-top: 1px;
      font-family: "arial"; }
    body .marketing img {
      padding-top: 5px;
      height: 15%;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    body .marketing p {
      text-align: center;
      margin-top: 1px;
      font-family: arial, sans-serif; }
    body .photography img {
      padding-top: 5px;
      height: 12%;
      width: 12%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    body .photography p {
      text-align: center;
      margin-top: 1px;
      font-family: "arial"; }
    body .video img {
      padding-top: 5px;
      height: 15%;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    body .video p {
      text-align: center;
      margin-top: 1px;
      font-family: "arial"; }
    body .audio img {
      padding-top: 5px;
      height: 12%;
      width: 12%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    body .audio p {
      text-align: center;
      margin-top: 1px;
      font-family: "arial"; }
    body .instagram img {
      width: 15%;
      height: 15%;
      float: left;
      margin-left: 110px; }
    body .linkedin img {
      width: 12%;
      height: 12%;
      float: right;
      margin-right: 110px;
      background-color: "arial"; } }
@media only screen and (min-width: 768px) {
  body {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: block; } }

/*# sourceMappingURL=style.css.map */
