/*
Error: Invalid CSS after "    top: -100px;x": expected "{", was "}"
        on line 1221 of /Users/ginoghalehpardaz/Desktop/Ghalehpardaz_G-PortfolioWebsite/sass/style.scss

1216:     position: relative;
1217:     left:40%;
1218:     background-color: rgba(224, 224, 224, 0.1);
1219:     margin-top: -700px;
1220:     top: -100px;x
1221:   }
1222: 
1223:   #aboutMe h1{
1224:     color: #FFBF00;
1225:     font-size: 20px;
1226:     z-index: 10;

Backtrace:
/Users/ginoghalehpardaz/Desktop/Ghalehpardaz_G-PortfolioWebsite/sass/style.scss:1221
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:421:in `media_directive'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:234:in `special_directive'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:209:in `directive'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/Users/ginoghalehpardaz/Desktop/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    top: -100px;x\": expected \"{\", was \"}\"\A         on line 1221 of /Users/ginoghalehpardaz/Desktop/Ghalehpardaz_G-PortfolioWebsite/sass/style.scss\A \A 1216:     position: relative;\A 1217:     left:40%;\A 1218:     background-color: rgba(224, 224, 224, 0.1);\A 1219:     margin-top: -700px;\A 1220:     top: -100px;x\A 1221:   }\A 1222: \A 1223:   #aboutMe h1{\A 1224:     color: #FFBF00;\A 1225:     font-size: 20px;\A 1226:     z-index: 10;"; }
