$bg: #3c4043;
$ff: 'arial';
$spec: #bbbbbb;
$des: #ffffff;
$mobile: "(min-width: 300px) and (max-width: 375px)";
$tablet: 768px;
$web: 900px;
$speci: #09e9ae;

//for mobile
body{
width: 100%;
display: block;
font-family: $ff;
height: 659px;
background-image: linear-gradient(#09e9ae, #1785fa);
margin-top: 10px;
margin-left: auto;
margin-right: auto;

.logo {
margin-left: auto;
margin-right: auto;
width: 100%;
}


.logo img{
height: 12%;
width: 12%;
margin-top: -10px;
margin-left: auto;
margin-right: auto;
display: block;
position: relative;
z-index: 2;
}


body{
font-family: $ff;
}

.specialty{
height: 100px;
width: 100%;
margin-top: -75px;
z-index: 20;
position: relative;

}

.specialty img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50%;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 10px;
  z-index: 10;
}

.specialtyText h3{
  font-family: $ff;
  font-size: 14px;
  color: $speci;
  margin-top: 30px;
  position: absolute;
  transition: opacity .1s ease;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

 .specialtyText h3+h3{
  opacity: 0;
  margin: 0 auto;
  text-align: center;

 }

.description{
color: $des;
font-size: 12px;
text-align: center;
margin-top: -80px;
}



.mainNav{
  position: absolute;
  margin-top: -40px;
  flex-direction: column-reverse;
  text-align: center;
  display: flex;
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
  z-index: 20;
  }

    .mainNav li {
      opacity: 0;
      text-align: center;
      display: inline;
      border-top: 1px $bg;
    }
    
    .mainNav ul{
      margin-top: -1px;
      padding: 0px;
    }
    
    .mainNav ul li{
      display: block;
      cursor: pointer;
      padding-top: -10px;
      padding-bottom: 10px;
      margin-top: 10px;
      width: 100%;
    }
    
    .mainNav ul li a{
      text-decoration: none;
      color: black;
      margin-top: 5px;
    }
    
    .burger div{
      width: 25px;
      height: 2px;
      background-color:$des;
      margin: 5px;
      padding: 0;
    }
    
    .burger{
     cursor: pointer;
     margin: 1px;
    }
    
    .mainNav-active{
      background-color: rgba(222,222,222,.8);
      font-family: arial;
      opacity: 1;
      color: black;
      border: 1px solid;
      border-color: black;
      width: 99.5%;
      font-size: 20px;
      height: 225px;
      z-index: 7;
    }

    
      @keyframes mainNavFade {
      from{
        opacity: 0;
        transform: translateX(-50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
    
      }
    }


    .hero {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      height: 660px;
      z-index: 3;
      overflow: hidden;
      border-radius: 1px;
      margin-top: -55px;
    }

    .hero #myVideo{
      margin-top: -20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
        object-fit: cover;
        margin-top: -1px;
  
    }

    .circleGroup{
      margin-top: 20px;
    }

    #circle1{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -300px;
      z-index: 1000;
      position: absolute;
      margin-left:20px;
    }

    #circle1 button{
      color: $speci;
      text-align: center;
      margin-top: 30px;
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer; 
    }

    #circle2{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -300px;
      z-index: 1000;
      position: absolute;
      margin-left:135px;
    }

    #circle2 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle3{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -300px;
      z-index: 1000;
      position: absolute;
      margin-left:250px;
    }

    #circle3 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle4{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -175px;
      z-index: 1000;
      position: absolute;
      margin-left:20px;
    }

    #circle4 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle5{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -175px;
      z-index: 1000;
      position: absolute;
      margin-left:135px;
    }

    #circle5 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle6{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -175px;
      z-index: 1000;
      position: absolute;
      margin-left:250px;
    }

    #circle6 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }


  .description h2{
      text-align: center;
      color: $des;
      font-size: 16px;
      font-family: $ff;
      height: auto;
      width: 100%;
      margin-top: -250px;
      padding-bottom: 10px;
      padding-top: 10px;

    }

    .author p{
      color: $speci;
      float: right;
      font-size: 12px;
      margin-top: 350px;
     position: absolute;
     margin-left: 175px;
    }

    .socialMedia{
      width: 50px;
      height: 20px;
      margin-top: 200px;
      z-index: 10;
    }

         //for contact

.aboutMe{
  margin-top: -200px;
   }
  
  .whoIAm{
    height: 50px;
    width:200px;
    cursor: pointer;
    color: $speci;
    z-index: 100;
    border: 1px solid;
    border-color: $speci;
    text-align: center;
    position: relative;
    top:50%;
    left:25%;
    background-color: rgba(224, 224, 224, 0.1)
  }
  
  .whoIAm:hover{
    background-color: rgba(204, 0, 51, 0.2);

  }
 

    // .instagram img {
    //   width: 15%;
    //   height: 15%;
    //   float: left;
    //   margin-left: 110px;
    //   margin-top: 20px;
    
    // }
    
    // .linkedin img{
    //   width: 12%;
    //   height: 12%;
    //   float: right;
    //   margin-right: 110px;
    //   margin-top: -50px;
    // }

        
     .github img{
      width: 10%;
      height: 10%;
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 325px;
     position: absolute;
     }

     .meGino h1{
      color: $speci;
      font-family: $ff;
      font-size: 10px;
      z-index: 10;
      position: absolute;
      margin-top: 100px;
      text-align: center;
      top: 50%;
      left: 50%;
      width: 90%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }


.fadeInUp h1{
  text-align: center;
  color: $des;
  z-index: 20;
  position: absolute;
  margin-top: 200px;
  margin-right: 200px;
  font-size: 30px;
width: 100%;}
  



}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
      
  }
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  z-index: 100;
  
}
  
  
    // #profileCircle{
    //     width: 400px;
    //     height: 200px;
    //     background: $speci;
    //     z-index: 10;
    //     position: absolute;
    //     margin-top: -500px;
    //    left: 25%;
    //   }
    






@media only screen and (min-width: 768px){

  body{
    width: 100%;
    display: block;
    font-family: $ff;
    height: 1024px;
    background-image: linear-gradient(#09e9ae, #1785fa);
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

  
  .logo img{
    height: 13%;
    width: 13%;
    margin-top: -700px;
    margin-left: 1px;
    float: left;
    z-index: 5;
  }

  .logo img:hover{
    filter:brightness(800%);
  }

  
  .specialty{
  background: $speci;
  height: 150px;
  width: 100%;
  border-radius: 1px;
  margin-top: 140px;
  z-index: 20;
  position: relative;
  overflow: hidden;
  }

  .specialty img{
    margin-top: 5px;
  }



.description{
  color: $des;
  background-color: $bg;
  font-size: 14px;
  text-align: center;
  }
  
 
  .mainNav{
    height: 2px;
    margin-top: -600px;
    margin-left: 150px;
    margin-right: auto;
    display: block;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    }
  
      .mainNav li {
        opacity: 1;
        display: inline-block;
        text-align: left;
        }

      
      .mainNav ul{
        padding-top: 20px;
        margin-top: -60px;
        width: 768px;
        height: 50px;
      }
      
      .mainNav ul li {
        font-size: 20px;
        display: inline;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        border: 0px;
      }
      
      .mainNav ul li a{
        color: $des;
        padding: 15px;
        text-decoration: none;
      }

      .mainNav ul li a:hover{
        color: $speci;
      }


  .mainNav-active{
  display: none;
    }

    .specialtyText h3{
      font-family: arial;
      font-size: 14px;
      color: black;
      margin-top: 30px;
      position: absolute;
      transition: opacity .1s ease;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
    
     .specialtyText h3+h3{
      opacity: 0;
      margin: 0 auto;
      text-align: center;
     }


    .hero {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      height: 1000px;
      margin-top: -75px;
      z-index: 1;
      border-color: $bg;
    }

    .hero #myVideo{
      margin-top: 1px;
    }

    .description{
      margin-top: -5px;
    }

      .description h2{
        text-align: center;
        color: $des;
        font-size: 17px;
        font-family: $ff;
        height: auto;
        width: 100%;
        margin-top: -200px;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .hero img{
        margin-top: -220px;
      }

          
    .burger div{
    display: none;
    }

    .instagram img {
      width: 15%;
      height: 15%;
      float: left;
      margin-left: 200px;
    
    }
    
    .linkedin img{
      width: 12%;
      height: 12%;
      float: right;
      margin-right: 200px;
      margin-top: -1px;
    }

     
    #web img {
      padding-top: 20px;
      height: 9%;
      width: 9%;
      margin-left: 150px;
      margin-right: auto;
      display: block;
    }
    

    .marketing img{
      margin-top: -50px;
      height: 9%;
      width: 9%;
      margin-left: 250px;
      margin-right: auto;
      display: block;
    }
    

    .photography img{
      margin-top: -50px;
      height: 9%;
      width: 9%;
      margin-left: 350px;
      margin-right: auto;
      display: block;
    }
    
  
    .video img{
      margin-top: 10px;
      height: 9%;
      width: 9%;
      margin-left: 450px;
      margin-right: auto;
      display: block;
    }

    .hero #myVideo{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%; 
      height: 110%;
      object-fit: cover;
      margin-top: -1px;
    }
    
    
    .audio img{
      margin-top: -60px;
      height: 9%;
      width: 9%;
      margin-left: 550px;
      margin-right: auto;
      display: block;
    }

 

    .instagram img {
      width: 15%;
      height: 15%;
      float: left;
      margin-left: 250px;
    
    }
    
    .linkedin img{
      width: 12%;
      height: 12%;
      float: right;
      margin-right: 250px;
    }

    .circleGroup{
      margin-top: 150px;
    }

     #circle1{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -300px;
      z-index: 1000;
      position: absolute;
      margin-left:200px;
    }

    #circle1 button{
      color: $speci;
      text-align: center;
      margin-top: 30px;
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer; 
    }

    #circle2{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -300px;
      z-index: 1000;
      position: absolute;
      margin-left:315px;
    }

    #circle2 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle3{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -300px;
      z-index: 1000;
      position: absolute;
      margin-left:430px;
    }

    #circle3 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle4{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -175px;
      z-index: 1000;
      position: absolute;
      margin-left:200px;
    }

    #circle4 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle5{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -175px;
      z-index: 1000;
      position: absolute;
      margin-left:315px;
    }

    #circle5 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    #circle6{
      border:1px solid $speci;    
      height:100px;
      width:100px;
      margin-top: -175px;
      z-index: 1000;
      position: absolute;
      margin-left:430px;
    }

    #circle6 p{
      color: $speci;
      text-align: center;
      margin-top: 30px;
    }

    .github img{
      width: 5%;
      height: 5%;
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 10px;
     position: absolute;
     z-index: 10;
     }

     .author p{
      color: $speci;
      float: right;
      font-size: 12px;
      margin-top: 30px;
     position: absolute;
     margin-left: 175px;
     z-index: 10;
    }

    .socialMedia{
      width: 50px;
      height: 20px;
      margin-top: 700px;
    }

    .aboutMe{
      margin-top: -300px;
       }
      
      .whoIAm{
        height: 50px;
        width:200px;
        cursor: pointer;
        color: $speci;
        z-index: 100;
        border: 1px solid;
        border-color: $speci;
        text-align: center;
        position: relative;
        top:50%;
        left:25%;
        background-color: rgba(224, 224, 224, 0.1)
      }
      
      .whoIAm:hover{
        background-color: rgba(204, 0, 51, 0.2);
    
      }

      .meGino h1{
        color: $speci;
        font-family: $ff;
        font-size: 15px;
        z-index: 10;
        position: absolute;
        margin-top: 150px;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 90%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
      }
    
      // #profileCircle{
      //     width: 300px;
      //     height: 150px;
      //     background: $speci;
      //     z-index: 10;
      //     position: absolute;
      //     margin-top: -700px;
      //    left: 30%;
      //   }
      
   

.fadeInUp h1{
  text-align: center;
  color: $des;
  z-index: 20;
  position: absolute;
  margin-top: -200px;
  margin-right: 200px;
  font-size: 30px;
width: 100%;}
  



}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
      
  }
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  z-index: 100;
  
}

#boxContent{
  width: 600px;
  height: 100px;
  background-image: linear-gradient(green-blue);
  margin-top: 200px;
}

  

  

  


}

@media only screen and (min-width: 900px){

  body{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: $ff;
    height: 760px;
    background-image: linear-gradient(#09e9ae, #1785fa);
    background-repeat: no-repeat;
    margin-top: 67px;
    display: absolute;


.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

  
  .logo img{
    height: 25%;
    width: 25%;
    margin-top: 30px;
    margin-left: -200px;
    float: left;
    z-index: 5;
    position: absolute;

  }

  .logo img:hover{
    filter:brightness(1000%);
  }

  
  .specialty{
  background: $speci;
  height: 150px;
  width: 100%;
  border-radius: 1px;
  margin-top: 140px;
  z-index: 20;
  position: relative;
  overflow: hidden;
  }

  .specialty img{
    margin-top: 5px;
  }


.description{
  color: $des;
  background-color: $bg;
  font-size: 14px;
  text-align: center;
  }
  
 
  .mainNav{
    margin-left: 200px;
    margin-right: auto;
    display: block;
    text-align: left;
    z-index: 4;
    font-family: arial black;
    margin-top: 150px;
 
    }
  
      .mainNav li {
        opacity: 1;
        display: block;
        text-align: center;
        }

      
      .mainNav ul{
        padding-top: 20px;
        margin-top: 100px;
        width: 100px;
        height: 50px;
        float: left;
        margin-left: -300px;
      }
      
      .mainNav ul li {
        font-size: 30px;
        display: inline;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        border: 0px;
        padding-top: 15px;
      }
      
      .mainNav ul li a{
        color: black;
        padding: 15px;
        text-decoration: none;
      }

      .mainNav ul li a:hover{
        color: $speci;
        text-decoration: line-through;
      }


  .mainNav-active{
  display: none;
    }

    .hero {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      margin-top: 1px;
      z-index: 1;
      border-color: $bg;
      height: 15%;
    }

    .hero #myVideo{
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%; 
      height: 101%;
      object-fit: cover;
      margin-top: -1px;
    }

    .specialtyText h3{
      font-family: arial;
      font-size: 14px;
      color: $speci;
      margin-top: 40px;
      position: absolute;
      transition: opacity .1s ease;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
    
     .specialtyText h3+h3{
      opacity: 0;
      margin: 0 auto;
      text-align: center;
     }

     .specialty{
      background: none;
      height: 100px;
      width: 100%;
      border-radius: 1px;
      margin-top: 10px;
      z-index: 20;
      position: relative;
      overflow: hidden;
      }

      .circleGroup{
        margin-top: 450px;
      }

      #circle1{
        border:1px solid $speci;    
        height:100px;
        width:100px;
        margin-top: -150px;
        z-index: 1000;
        position: absolute;
        margin-left:110px;
        color: $speci;
      }
  
      #circle1 button{
        color: $speci;
        text-align: center;
        margin-top: 30px;
        outline: none;
        background-color: transparent;
        border: none;
        cursor: pointer; 
      }

      #click1 p{
        margin-top: -200px;
      }
  
      #circle2{
        border:1px solid $speci;    
        height:100px;
        width:100px;
        margin-top: -150px;
        z-index: 1000;
        position: absolute;
        margin-left:225px;
      }
  
      #circle2 p{
        color: $speci;
        text-align: center;
        margin-top: 30px;
      }
  
      #circle3{
        border:1px solid $speci;    
        height:100px;
        width:100px;
        margin-top: -150px;
        z-index: 1000;
        position: absolute;
        margin-left:340px;
      }
  
      #circle3 p{
        color: $speci;
        text-align: center;
        margin-top: 30px;
      }
  
      #circle4{
        border:1px solid $speci;    
        height:100px;
        width:100px;
        margin-top: -150px;
        z-index: 1000;
        position: absolute;
        margin-left:455px;
      }
  
      #circle4 p{
        color: $speci;
        text-align: center;
        margin-top: 30px;
      }
  
      #circle5{
        border:1px solid $speci;    
        height:100px;
        width:100px;
        margin-top: -150px;
        z-index: 1000;
        position: absolute;
        margin-left:570px;
      }
  
      #circle5 p{
        color: $speci;
        text-align: center;
        margin-top: 30px;
      }
  
      #circle6{
        border:1px solid $speci;    
        height:100px;
        width:100px;
        margin-top: -150px;
        z-index: 1000;
        position: absolute;
        margin-left:685px;
      }
  
      #circle6 p{
        color: $speci;
        text-align: center;
        margin-top: 30px;
      }
  
      .github img{
        width: 7%;
        height: 7%;
       padding-left: 20px;
       padding-right: 20px;
       margin-top: -50px;
       position: absolute;
       z-index: 10;
       }
  
       .author p{
        color: $speci;
        // float: right;
        font-size: 12px;
        margin-top: 20px;
       position: absolute;
       margin-left: -30px;
       z-index: 10;
       display: inline-block;
      }
  
      .socialMedia{
        width: 50px;
        height: 20px;
        margin-top: -200px;
        margin-left: -125px;
        float: left;
      }

      #aboutMe{
  margin-top: -65px;
   }
  
  #whoIAm{
    height: 50px;
    width:200px;
    cursor: pointer;
    color: $speci;
    z-index: 100;
    border: 1px solid;
    border-color: $speci;
    text-align: center;
    position: relative;
    left:40%;
    background-color: rgba(224, 224, 224, 0.1);
    margin-top: -700px;
    top: -100px;
  }

  #aboutMe h1{
    color: white;
    font-size: 20px;
    z-index: 10;
  }
  
  #whoIAm:hover{
    background-color: rgba(204, 0, 51, 0.2);
    height: 50px;
    width:200px;
    cursor: pointer;
    color: $speci;
    z-index: 100;
    border: 1px solid;
    border-color: $speci;
    text-align: center;
    position: relative;
    left:40%;
    margin-top: -200px;
  }

  //contact

  .meGino h1{
    color: $speci;
    font-family: $ff;
    font-size: 15px;
    z-index: 10;
    position: absolute;
    margin-top: 350px;
    text-align: center;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }


  #profileCircle{
      width: 700px;
      height: 300px;
      background: $speci;
      z-index: 10;
      position: absolute;
      margin-top: 350px;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      animation: scale 1000ms ease-in-out forwards;
}

// #boxContent{
//   width: 600px;
//   height: 100px;
//   background-image: linear-gradient(green, blue);
//   margin-top: 200px;
//   z-index: 1;
// }

@keyframes scale {

  from{
    transform: scale(0,1)
  }
  to {
    transform: scale(1.1);
  }
}

.fadeInUp h1{
  text-align: center;
  color: $des;
  z-index: 20;
  position: absolute;
  margin-top: -450px;
  margin-left: 200px;
  font-size: 30px;
  width: 100%;}
  



}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
      
  }
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  z-index: 100;
  
}

.whiteOverlay{
  width: 550px;
  height: 768px;
  background-color: white;
  border-width: 1px;
  z-index: 1;
  margin-left: -400px;
  margin-top: -70px;

}
  




  


  }







    
    
    
      
    

    










