
         <nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="#">Portfolio</a></li>
           <li><a href="about.html">About</a></li>
           <li><a href="#">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

         <div class="back-black">

          <div class="aboutGino">
            <img src="images/ginoprofile.jpg" alt="aboutginoimage">
            <h2>My name is Gino Ghalehpardaz, I come in peace! </h2>
            <h3>Born in London Ontario Canada, I am an aspiring Front End Web Developper, as well as Video and Audio Editor.<br><br>
              I have previously worked as a Marketing Coordinator and have experience in graphic design and content marketing.<br><br>
              I am currently enrolled in the Interactive Media Design Program at Fanshawe College. I had previously attended Laurier University
              and graduated with honors Criminology and Journalism.<br><br>
              I absolutley love web development and media work and am very passionate about everything that I do in life.
              I enjoy learning and want to be the best I can be and achieve my full potential. Though I am not there it is a daily process and I strive to be better than the day before.
              <br><br>When not in school, you can find me in the gym, where I train and teach on a daily basis as a Professional Mixed Martial Artist (my other life passion). 
            </h3>
          </div>

         </div>

         <div class="back-yellow">
           <div class="projectwork">
            <img src="images/tattoopunisher.png" alt="tattooprojectplaceholder">
          <h1> Services that I specialize in:</h1> 
            
            <h2>
              •Web Design<br>
              •Web Development<br>
              •Marketing and Advertising<br>
              •Video Editing<br>
              •Audio Editing<br>
              •Graphic Design<br>

            </h2>
          </div>

          
         </div>

       

       

       
       </div>
       
       
       
       
       
       </div>
       
        <div class="socialMedia">
       <div class="instagram">
           <a href="https://www.instagram.com/ginoghal/">
             <img src="images/instagramlogo.svg" alt="instagram"></a></div>
       
       
           <div class="linkedin">
             <a href="https://www.linkedin.com/in/gino-ghalehpardaz-7b4a05122/">
             <img src="images/linkedinlogo.svg" alt="linkedin"></a> </div>
       
             <div class="github">
               <a href="https://github.com/ginoghal">
               <img src="images/githublogo.svg" alt="github"></a> </div> 
       
       
               <div class="author1">
                   <p>Created by Gino Ghalehpardaz - 2019</p>
                 </div>
       </div>
       
       
         <script src="public/js/main.js"></script>
         </body>
       </html>
       