<nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/portfolio">Portfolio</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

         <div class="back-black">

          <div class="aboutGino">
            <img src="images/ginoprofile.jpg" alt="aboutginoimage">
            <h2>My name is Gino Ghalehpardaz </h2>
            <h3>Born in London Ontario Canada, I am an aspiring Front End Web Developer, as well as Video and Audio Editor.<br><br>
              I have previously worked as a Marketing Coordinator and have experience in graphic design.<br><br>
              I am currently enrolled in the Interactive Media Design Program at Fanshawe College. 
            </h3>
          </div>

         </div>

         <div class="back-yellow">
           <div class="projectwork">
            <img src="images/tattoopunisher.png" alt="tattooprojectplaceholder">
          <h1> Services that I specialize in:</h1> 
            
            <h2>
              •Web Design<br>
              •Web Development<br>
              •Marketing and Advertising<br>
              •Video Editing<br>
              •Audio Editing<br>
              •Graphic Design<br>
            </h2>
          </div>

          
         </div>
                  <div class="back-black1">
                             <p> I am striving to improve and work on my craft everyday. I returned to school and rebuilt myself and
                               my goal is to be so good so that I can provide my Pug with the best life possible!<br>•••</p>
               <img src="images/ginopug.jpg" alt="ginopug">
          </div>

       </div>

       </div>


       </div>
       
       
         <script src="public/js/main.js"></script>
         </body>
       </html>
       