
         <nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="#">Portfolio</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="#">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

         <div class="back-black">

          <div class="aboutGino">
            <img src="images/ginoprofile.jpg" alt="aboutginoimage">
            <h2>My name is Gino Ghalehpardaz, I come in peace! </h2>
            <h3>Born in London Ontario Canada, I am an aspiring Front End Web Developer, as well as Video and Audio Editor.
              I have previously worked as a Marketing Coordinator and have experience in graphic design and content marketing.
              I am currently enrolled in the Interactive Media Design Program at Fanshawe College. I had previously attended Laurier University
              and graduated with honors Criminology and Journalism.<br><br>
              <br><br>When not in school, you can find me in the gym, where I train and teach on a daily basis as a Professional Mixed Martial Artist (my other life passion). 
            </h3>
          </div>

         </div>

         <div class="back-yellow">
           <div class="projectwork">
            <img src="images/tattoopunisher.png" alt="tattooprojectplaceholder">
          <h1> Services that I specialize in:</h1> 
            
            <h2>
              •Web Design<br>
              •Web Development<br>
              •Marketing and Advertising<br>
              •Video Editing<br>
              •Audio Editing<br>
              •Graphic Design<br>
            </h2>
          </div>

          
         </div>
                  <div class="back-black1">
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum tincidunt urna eu viverra. 
             Donec tincidunt maximus est at sagittis. Maecenas lacus eros, aliquam non varius a, vehicula dictum nunc. 
             Pellentesque nulla justo, imperdiet ac sapien ac, posuere suscipit arcu. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nam eleifend gravida tortor, quis eleifend tellus molestie vitae. Cras accumsan vel nisl vestibulum 
              interdum. Vivamus tincidunt id diam eget tempus. Integer pulvinar eleifend justo at scelerisque.

            </p></div>

       </div>

       </div>



       </div>
       
       
         <script src="public/js/main.js"></script>
         </body>
       </html>
       