<nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/portfolio">Portfolio</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

<div class="contact_background">


<div class="contact_form">
  <h1>• Contact Me •</h1>

  <div class="name">
    <form>
  Name:<br>
  <input class="nameinput" name="name"></div>
  <br>
    <div class="email">
  Email:<br>
  <input class="emailinput" name="email_address"></div>
 <br>
 <div class="message">
  Message:<br>
  <input class="messageinput" name="message"></div>
   <div class="submitinput"></div>
  <input type="submit" value="Submit">
  </form>
  </div>

  <div id="triangle-left"></div>

  </div>

</form>






</div>
           


                <script src="public/js/main.js"></script>
         </body>
         </html>
