 
 <div class="profileGino">
  <div id="profileRec"></div>
  </div>


  <div class="homeContent">
    <div id="boxContent">
  
      <div class="ginoimage">

    <img src="images/ginoprofile.jpg" alt="ginoimage">
      </div>
 
 <div class="animated fadeInUp">
 <h1> {{tagline}} </h1>
</div>
 

<div class="homeButton">
    <button id="buttonhome">{{buttonmessage}}</button>
</div>

</div>
</div>

