 
 <div class="animated fadeInUp">
 <h1> {{tagline}} </h1>
</div>
 
<p>{{ message }}</p>
<h5>{{ anothermessage }}</h5>

<div class="homeButton">
  <button>
    <button id="buttonhome">{{buttonmessage}}</button>
  </button>
</div>

