<nav class="mainNav">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#">Contact</a></li>
      </ul>

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
  </nav>
  
 <div class="profileGino">
   <div id="profileRec"></div>
  </div>

  <div class="homeContent">
    <div id="boxContent">
  
      <div class="ginoimage">

    <img src="images/ginoprofile.jpg" alt="ginoimage">
      </div>
 
 <div class="animated fadeInUp">
 <h1> {{tagline}} </h1>
</div>
 

<div class="homeButton">
    <button id="buttonhome">{{buttonmessage}}</button>
</div>

</div>
</div>

<div class="socialMedia">
<div class="instagram">
    <a href="https://www.instagram.com/ginoghal/">
      <img src="images/instagramlogo.svg" alt="instagram"></a></div>


    <div class="linkedin">
      <a href="https://www.linkedin.com/in/gino-ghalehpardaz-7b4a05122/">
      <img src="images/linkedinlogo.svg" alt="linkedin"></a> </div>

      <div class="github">
        <a href="https://github.com/ginoghal">
        <img src="images/githublogo.svg" alt="github"></a> </div> 

</div>
        <div class="author">
            <p>Created by Gino Ghalehpardaz - 2019</p>
          </div>


