<nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/portfolio">Portfolio</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

         <div class="back-grey">

               <h1>Portfolio Work</h1>
 
<div class="project1">
    <h1>Demo Reel Video</h1>



<video id="compilation" controls>
  <source src="images/GinoG-CompilationVideo.mp4" type="video/mp4"></video>
 <span class="see-more" data-target="1"></span>
<ul class="video1">
<li><button id="play"><img id="playButton" src="images/playbutton.png"></button></li>
<li><button id="pause"><img id="pauseButton" src="images/pausebutton.png"></button></li>
{{!-- <li><progress id="progress" value="0"></progress></li> --}}
<li><input id="volume" type="range"></input></li>
<button id="reload" onClick="window.location.reload();">Reload</button>

</ul>

</div>

<div class="project2">
    <h1>Cityscape</h1>


<video id="cityscape">
  <source src="images/CityScape-Final.mp4" type="video/mp4"></video>
<ul class="video2">
<li><button id="play1"><img id="playButton1" src="images/playbutton.png"></button></li>
<li><button id="pause1"><img id="pauseButton1" src="images/pausebutton.png"></button></li>
{{!-- <li><progress id="progress1" value="0"></progress></li> --}}
<li><input id="volume1" type="range"></input></li>
<button id="reload1" onClick="window.location.reload();">Reload</button>
</ul>

</div>

<div class="project3">
  
    <h1>Anglers Website</h1>
<a href="https://github.com/ginoghal/Ghalehpardaz_G-Helder_J-Anglers.org">
  <img src="images/AnglersWeb.png" type="image"></a>
  <h2>This Anglers project was a group project where we both contributed to the total build of the project.</h2>
</div>


<div class="project4">
    <h1>Music Mixer</h1>
<a href="https://github.com/ginoghal/Ghalehpardaz_G_MusicMixer">
  <img src="images/MusicMixer.png" type="image"></a>
  <h2>This was a group project with me taking the lead on the Backend (Javascript) functionality.</h2>
</div>

<div class="project5">
    <h1>Tattoo Project</h1>

  <img src="images/GinoG_TattooProject.jpg" type="image">
  <h2>This tattoo project was meant to try and incorporate the design to your body as seamlessly as possible.</h2>
</div>

<div class="project6">
    <h1>Nintendo Switch Commercial</h1>


<video id="switch" controls>
  <source src="images/Switch_Midterm.mp4" type="video/mp4"></video>
  <h2>This was a fun project for me as I wanted to see how many different locations I could come up with.</h2>


</div>


 <article class="popover">
            <h4 class="name">Name:</h4>
            <h4 class="type"Type:></h4>
            <h4 class="dev_notes">Dev Notes:</div>
        </article>



         </div>

         


         </div>

  
