<nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/portfolio">Portfolio</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

         <div class="back-grey">

         <div class="project1">
<h1>Cinema 4D Compilation Video</h1>
<h3>Dev Notes</h3>
<p>lorem ipsum</p>

         </div>

         <div class="project2">
<h1>Music Mixer</h1>
<h3>Dev Notes</h3>
<p>lorem ipsum</p>
         </div>
                    
        <div class="project3">
<h1>Bijan Portfolio Website *in progress</h1>
<h3>Dev Notes</h3>
<p>lorem ipsum</p>
        </div>

         <div class="project4">
<h1>Anglers Association</h1>
<h3>Dev Notes</h3>
<p>lorem ipsum</p>
         </div>
        
         <div class="project5">
<h1>Nintendo Switch Commercial</h1>
<h3>Dev Notes</h3>
<p>lorem ipsum</p>
         </div>

         <div class="project6">
<h1>Cityscape</h1>
<h3>Dev Notes</h3>
<p>lorem ipsum</p>
         </div>


         </div>