<nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/portfolio">Portfolio</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

         <div class="back-grey">

 <h1 class="main-header"> <img src="images/ufc.png" alt="ufclogo"> Titles by Country</h1>
    <main>
        <!-- if we were using a framework, these might be 6-col or something-->
        <section id="ufc1">
          <div class="ufc_wrapper">

            <object data="images/USA-logo.svg" type="image/svg+xml" class="svg-graphic" id="bottle"></object>
            <span class="see-more" data-target="1">Information</span>
          </div>

          <div class="text-wrapper">
            <h3>USA</h3>
   
          </div>
        </section>

        <section id="ufc2">
          <div class="ufc_wrapper">
            <object data="images/Brazil-logo.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">Information</span>
          </div>

          <div class="text-wrapper">
            <h3>Brazil</h3>
          </div>
        </section>

        <section id="ufc3">
          <div class="ufc_wrapper">
            <object data="images/Canada-logo.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="3">Title Stats</span>
          </div>

          <div class="text-wrapper">
            <h3>Canada</h3>
          </div>
        </section>

        <section id="ufc4">
          <div class="ufc_wrapper">
            <object data="images/Netherlands-logo.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="4">Title Stats</span>
          </div>

          <div class="text-wrapper">
            <h3>Netherlands</h3>
          </div>
        </section>

        <section id="ufc5">
          <div class="ufc_wrapper">
            <object data="images/Nigeria-logo.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="5">Title Stats</span>
          </div>

          <div class="text-wrapper">
            <h3>Nigeria</h3>
          </div>
        </section>

        <section id="ufc6">
          <div class="ufc_wrapper">
  
            <object data="images/Ireland-logo.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="6">Title Stats</span>
          </div>
           

      <article class="popover">
            <h4 class="country">Country: </h4>
            <h4 class="titles">Number of Titles Won: </h4>
            <h4 class=".avatar">Avatar</h4>
            <h4 class=".dev_notes">Dev Notes</h4>
        </article>

         </div>


         </div>