<nav class="mainNav">
           <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/portfolio">Portfolio</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
             </ul>
       
             <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </div>
         </nav>

         <div class="back-grey">

               <h1>Portfolio Work</h1>
 
<div class="project1">
    <h1>Compilation Video</h1>


<video controls>
  <source src="images/GinoG-CompilationVideo.mp4" type="video/mp4"></video>
  <h2>Dev Notes: This is a compilation of a series of Cinema 4D videos that I created and/collaborated on.</h2>
</div>

<div class="project2">
    <h1>Cityscape</h1>


<video controls>
  <source src="images/Cityscape-Final.mp4" type="video/mp4"></video>
  <h2>The Cityscape video was made with additional inspiration from the Roku screensaver.</h2>
</div>

<div class="project3">
    <h1>Anglers Website</h1>
<a href="https://github.com/ginoghal/Ghalehpardaz_G-Helder_J-Anglers.org">
  <img src="images/AnglersWeb.png" type="image"></a>
  <h2>This Anglers project was a group project where we both contributed to the total build of the project.</h2>
</div>


<div class="project4">
    <h1>Anglers Website</h1>
<a href="https://github.com/ginoghal/Ghalehpardaz_G_MusicMixer">
  <img src="images/MusicMixer.png" type="image"></a>
  <h2>This was a group project with me taking the lead on the Backend (Javascript) functionality.</h2>
</div>

<div class="project5">
    <h1>Anglers Website</h1>

  <img src="images/GinoG_TattooProject.jpg" type="image">
  <h2>This tattoo project was meant to try and incorporate the design to your body as seamlessly as possible.</h2>
</div>

<div class="project6">
    <h1>Nintendo Switch Commercial</h1>


<video controls>
  <source src="images/Switch_Midterm.mp4" type="video/mp4"></video>
  <h2>This was a fun project for me as I wanted to see how many different locations I could come up with.</h2>
</div>




         </div>

         


         </div>

  
